body{
    background: #ffffff;
    table { 
        border: 1px solid rgb(18, 160, 30); 
        margin-left: auto; 
        margin-right: auto; 
    } 

    h2{ 
        text-align: center; 
        padding: 20px 40px; 
    }
      
    input[type="button"] { 
        width: 100%; 
        padding: 20px 40px; 
        background-color: rgb(132, 239, 132); 
        color: black; 
        font-size: 24px; 
        font-weight: bold; 
        border: 1px solid rgb(18, 160, 30);  
        border-radius: 5px; 
    } 
      
    input[type="text"] { 
        padding: 20px 30px; 
        font-size: 24px; 
        font-weight: bold; 
        border-radius: 5px; 
        border: 1px solid rgb(18, 160, 30);  
        text-align: right;
    }
    
}
